.vs/
ChessVote/obj/
ChessVote/bin/
*.user
ChessVote/node_modules/
package-lock.json
ChessVote/semantic/
ChessVote/wwwroot/fomantic/
ChessVote/scripts/*.js
ChessVote/scripts/*.js.map
ChessVote/wwwroot/site/
ChessVote/wwwroot/site.css
