@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoteChess</title>
    <link rel="stylesheet" href="fomantic/semantic.min.css" />
    <link rel="stylesheet" href="site.css" />

    @*<script src="fomantic/semantic.min.js"></script>*@
    <script src="site/script.js"></script>
    <style>
        .ui.inverted.basic.button.cv-white-background {
            color: rgba(0, 0, 0, .6);
        }
        
        .ui.inverted.basic.button.cv-white-background:hover
        {
             color: #1b1c1d !important;
        }

        #game-list {
            display: inline-block
        }
        #game-list td {
            font-size: 1.1em; padding-left: 1.2em;
        }
    </style>
</head>
<body>
<div class="ui vertical segment">
    <div class="ui container">
        <div class="ui two columns unstackable grid">
            <div class="column">
                <h2 class="ui header" style="font-variant: small-caps; margin-top: 0">
                    <i class="circular small chess icon"></i>
                    <span class="content">VoteChess</span>
                </h2>
            </div>
            <div class="right aligned column">
                <i class="user circle icon"></i>&nbsp;@ViewData["UserName"]
                <a class="ui basic tertiary button" href="/login/logout">
                    Выйти
                </a>
            </div>
        </div>
    </div>
</div>
<div id="main-screen" class="ui vertical basic padded segment">
    <div class="ui center aligned container" style="padding-top: 80px;">
        <table id="game-list" class="ui collapsing table">
            <tbody>
            </tbody>
        </table>
        <br/>
        <button id="btn_create_game" class="ui basic inverted cv-white-background grey basic button">Создать игру</button>
    </div>
</div>
@* Экран создателя игры *@
<div id="game-master" class="ui vertical basic padded segment">
    <span class="moves">Ходы</span>
    <span class="vote_counter">Проголосовало: </span>
    <button class="finish_vote">Закончить голосование</button>
    <button class="move" data-value="1">Сделать ход 1</button>
    <button class="move" data-value="2">Сделать ход 2</button>
    <button class="move" data-value="3">Сделать ход 3</button>
    <button class="move" data-value="4">Сделать ход 4</button>
    <button class="exit">Выйти</button>
</div>
@* Экран участника игры *@
<div id="game-slave" class="ui vertical basic padded segment">
    <span class="moves">Ходы</span>
    <button class="move" data-value="1">Сделать ход 1</button>
    <button class="move" data-value="2">Сделать ход 2</button>
    <button class="move" data-value="3">Сделать ход 3</button>
    <button class="move" data-value="4">Сделать ход 4</button>
    <button class="exit">Выйти</button>
</div>
</body>
</html>
