@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoteChess</title>
    <link rel="stylesheet" href="fomantic/semantic.min.css" />
    <link rel="stylesheet" href="site.css" />
    <script>
        var state = @ViewData["State"];
        var color = '@ViewData["Color"]';
    </script>
    <script src="site/script.js"></script>
    <style>
        .ui.inverted.basic.button.cv-white-background {
            color: rgba(0, 0, 0, .6);
        }
        
        .ui.inverted.basic.button.cv-white-background:hover
        {
             color: #1b1c1d !important;
        }

        #game-list {
            display: inline-block
        }
        #game-list td {
            font-size: 1.1em; padding-left: 1.2em;
        }
    </style>
</head>
<body>
<div class="ui vertical segment">
    <div class="ui container">
        <div class="ui two columns unstackable grid">
            <div class="column">
                <h2 class="ui header" style="font-variant: small-caps; margin-top: 0">
                    <i class="circular small chess icon"></i>
                    <span class="content">VoteChess</span>
                </h2>
            </div>
            <div class="right aligned column">
                <i class="user circle icon"></i>&nbsp;@ViewData["UserName"]
                <a class="ui basic tertiary button" href="/login/logout">
                    Выйти
                </a>
            </div>
        </div>
    </div>
</div>
<div id="main-screen" class="ui vertical basic padded segment">
    <div class="ui center aligned container" style="padding-top: 80px;">
        <div style="padding-bottom: 10px">Создать игру</div>
        <button id="btn_white_create_game" class="ui basic inverted cv-white-background grey basic icon button">Белые</button>
        <button id="btn_black_create_game" class="ui basic inverted cv-white-background grey basic icon button">Черные</button>
        <br/>
        <table id="game-list" style="margin-top: 20px" class="ui collapsing table">
            <tbody>
            </tbody>
        </table>
        <br/>
    </div>
</div>
@* Экран создателя игры *@
<div id="game-master" class="ui vertical basic padded center aligned segment">
    <div id="board-master" style="width: 500px; margin: 0 auto"></div>
    <div style="width: 500px; margin: 20px auto; text-align: left">
        <div style="display: inline-block; margin-top: -3px;">
            <span class="vote_counter"></span><br/>
            <span class="online_counter"></span>
        </div>
        <div style="float: right">
            <button class="ui green button finishVote">Завершить голосование</button>
            <button class="ui button exit">Выйти</button>
        </div>
    </div>
</div>
@* Экран участника игры *@
<div id="game-slave" class="ui vertical basic padded center aligned segment">
    <div id="board-slave" style="width: 500px; margin: 0 auto"></div>
    
    <div style="width: 500px; margin: 20px auto; text-align: left">
        <div style="display: inline-block; margin-top: -3px">
            <span class="vote_counter"></span><br/>
            <span class="online_counter"></span>
        </div>
        <div style="float: right">
            <button class="ui green button cancelVote">Отменить голос</button>
            <button class="ui button exit">Выйти</button>
        </div>
    </div>
</div>
<div style="position: fixed;bottom: 10px;right: 0;left: 0; text-align: center">
    <a href="http://chess-vote.reformal.ru" onclick="Reformal.widgetOpen();return false;" onmouseover="Reformal.widgetPreload();">Oтзывы и предложения</a></div>
<script type="text/javascript">
    var reformalOptions = {
        project_id: 985896,
        show_tab: false,
        project_host: "chess-vote.reformal.ru"
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://chess-vote.reformal.ru">Oтзывы и предложения для Chess Vote</a></noscript>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            var z = null;m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(90246940, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90246940" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
