@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoteChess</title>
    <link rel="stylesheet" href="fomantic/semantic.min.css" />

    <script src="fomantic/semantic.min.js"></script>
    <script src="site/script.js"></script>
    <style>
        .ui.inverted.basic.button.cv-white-background {
            color: rgba(0, 0, 0, .6);
        }
    </style>
</head>
<body>
<div class="ui vertical segment">
    <div class="ui container">
        <div class="ui two columns unstackable grid">
            <div class="column">
                <h2 class="ui header" style="font-variant: small-caps; margin-top: 0">
                    <i class="circular small chess icon"></i>
                    <span class="content">VoteChess</span>
                </h2>
            </div>
            <div class="right aligned column">
                <i class="user circle icon"></i>&nbsp;@ViewData["UserName"]
                <a class="ui basic tertiary button" href="/login/logout">
                    Выйти
                </a>
            </div>
        </div>
    </div>
</div>
<div id="main-screen" class="ui vertical basic padded segment">
    <div class="ui center aligned container" style="padding-top: 80px;">
        <table style="display: inline-block" class="ui collapsing table">
            <tbody>
            <tr>
                <td style="font-size: 1.1em; padding-left: 1.2em;">
                    byte916
                </td>
                <td>
                    <button class="ui compact inverted cv-white-background green basic button">Присоединиться</button>
                </td>
            </tr>
            <tr>
                <td style="font-size: 1.1em; padding-left: 1.2em;">
                    byte916
                </td>
                <td>
                    <button class="ui compact inverted cv-white-background green basic button">Присоединиться</button>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <button class="ui basic inverted cv-white-background green basic button">Создать игру</button>
    </div>
</div>
</body>
</html>
