@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoteChess</title>
    <link rel="stylesheet" href="fomantic/semantic.min.css" />

    <script src="fomantic/semantic.min.js"></script>
    <script src="site/script.js"></script>
</head>
<body>
<div class="ui vertical segment">
    <div class="ui container" style="background: #FFF">
        <div class="ui two columns unstackable grid">
            <div class="column">
                <h2 class="ui header" style="font-variant: small-caps; margin-top: 0">
                    <i class="circular small chess icon"></i>
                    <span class="content">VoteChess</span>
                </h2>
            </div>
            <div class="right aligned column">
                <i class="user circle icon"></i>&nbsp;@ViewData["UserName"]
                <a class="ui basic tertiary button" href="/login/logout">
                    Выйти
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
