@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoteChess</title>
    <link rel="stylesheet" href="fomantic/semantic.min.css" />
    <script src="fomantic/jquery.min.js"></script>
    <script src="fomantic/semantic.js"></script>
</head>
<body style="background-color: #d2d6de">
<div class="ui middle aligned center aligned grid" style="height: 100%">
    <div class="column" style="max-width: 300px;">
        <form class="ui form" method="post">
            <div class="ui stacked raised padded blue segment" style="padding-top: 2.5em; padding-bottom: 2em">
                <h2 class="ui center aligned icon header" style="font-variant: small-caps">
                    <i class="circular chess icon"></i>
                    VoteChess
                </h2>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <button class="ui submit button"><i class="chess knight icon"></i>Войти через Lichess</button>
            </div>
        </form>
    </div>
</div>

<div class="ui tiny modal">
    <div class="header" style="">Обратная связь</div>
    <div class="content">
        Сообщения об ошибках, пожелания и предложения вы можете направлять по почте <a href="mailto:byte916@yandex.ru">byte916@yandex.ru</a> или через <a href="https://vk.com/id2962981" target="_blank">ВКонтакте</a>
    </div>
</div>
<a style="position: absolute; bottom: 0; right: 0" href="#" onclick="$('.ui.modal').modal('show');" class="ui tertiary big icon  button contacts">
    <i class="envelope icon"></i>
</a>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            var z = null;m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(90246940, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90246940" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>